<div fxLayoutAlign="center center">
  <md-card>
    <md-card-title>Authentication</md-card-title>
    <md-card-subtitle>Please, enter your username and password</md-card-subtitle>
    <md-card-content>
      <div align="left" fxFill>
        <md-input-container fxFill>
          <input mdInput [(ngModel)]="model.username" type="text" placeholder="Username">
        </md-input-container>
        <br/>
        <md-input-container fxFill>
          <input mdInput [(ngModel)]="model.password" type="password" placeholder="Password">
        </md-input-container>
      </div>
      <div *ngIf="isError">
        <p style="color: red">Error</p>
      </div>
    </md-card-content>
    <md-card-actions align="right">
      <button md-raised-button (click)="onSignUp()" color="warn" type="submit">
        <md-icon>check</md-icon> Sign Up
      </button>
      <button md-raised-button (click)="onSignIn()" color="primary" type="submit">
        <md-icon>check</md-icon> Sign In
      </button>
    </md-card-actions>
  </md-card>
</div>
