<md-sidenav>
  <md-toolbar color="primary">
    <span class="fill-space">Chat</span>
    <button md-icon-button *ngIf="authService.isAuthorized" [mdMenuTriggerFor]="appMenu">
      <md-icon>account_circle</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav-container>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</md-sidenav>
<md-menu #appMenu="mdMenu">
  <button md-menu-item> Profile </button>
  <button md-menu-item (click)="authService.signOut()"> Logout </button>
</md-menu>
