<form (ngSubmit)="onSignin(f)" #f="ngForm"><br>
  <md-input-container>
    <input mdInput type="text" name="username" ngModel>
    <md-placeholder>
      <md-icon>face</md-icon> Username
    </md-placeholder>
  </md-input-container>
  <br>
  <md-input-container>
    <input mdInput type="password" name="password" ngModel>
    <md-placeholder>
      <md-icon>lock_open</md-icon> Password
    </md-placeholder>
  </md-input-container>
  <br>
  <button md-raised-button color="warn" type="submit" name="action">LOGIN</button>
  <!-- <span id="err"><small>{{errorMsg}}</small></span> -->
</form>